<a href="https://colab.research.google.com/github/coder-harshil/global-terrorism-analysis/blob/main/Capstone_Project_EDA_Global_Terrorism_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.</b>

# <b> Explore and analyze the data to discover key findings pertaining to terrorist activities. </b>

##**Terrorism has been a global problem for decades now, and with recent misfortune in Afghanistan, it is high time that we shade light on how the attacks have happened over the years. Thanks to the assignment, we have data of more than 180,000 attacks that happened during 1970-2017.**

## **Here is a list of operations I will be performing in this colab notebook to analyse the dataset -**

## **1. Cleaning the data and keeping only required columns (there are 135 columns in the dataset, and I will select only the necessary ones).**

## **2. Replacing null values when and where necessary for smooth data analysis.**

## **3. Filtering dataset and creating other dataframes for diving deep into how particular factors influence the data.**

## **4. Creating basic visualizations to understand the convery the effect of factors.**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
#Importing and reading the dataset

df = pd.read_csv('/content/drive/MyDrive/AlmaBetter/Capstone Project - EDA/Global Terrorism Data.csv', encoding = 'latin1' )

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

        eventid  iyear  imonth  iday  ... INT_IDEO  INT_MISC INT_ANY  related
0  197000000001   1970       7     2  ...        0         0       0      NaN
1  197000000002   1970       0     0  ...        1         1       1      NaN
2  197001000001   1970       1     0  ...       -9         1       1      NaN
3  197001000002   1970       1     0  ...       -9         1       1      NaN
4  197001000003   1970       1     0  ...       -9         1       1      NaN

[5 rows x 135 columns]

### **As the data contains many unnecessary columns, we will first filter and select only the essential ones for our analysis**

In [5]:
df.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [6]:
#Will use only the essential columns for the analysis of the data

columns_required = ['iyear', 'imonth', 'iday', 'country_txt', 'region_txt', 'provstate', 'city', 'attacktype1_txt', 'targtype1_txt', 'gname', 'weaptype1_txt', 'nkill']
terror_df = pd.DataFrame(columns = columns_required, data = df)

In [7]:
terror_df.head()

   iyear  imonth  iday  ...                               gname weaptype1_txt nkill
0   1970       7     2  ...                              MANO-D       Unknown   1.0
1   1970       0     0  ...  23rd of September Communist League       Unknown   0.0
2   1970       1     0  ...                             Unknown       Unknown   1.0
3   1970       1     0  ...                             Unknown    Explosives   NaN
4   1970       1     0  ...                             Unknown    Incendiary   NaN

[5 rows x 12 columns]

In [8]:
terror_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            181691 non-null  int64
 1   imonth           181691 non-null  int64
 2   iday             181691 non-null  int64
 3   country_txt      181691 non-null  object
 4   region_txt       181691 non-null  object
 5   provstate        181270 non-null  object
 6   city             181257 non-null  object
 7   attacktype1_txt  181691 non-null  object
 8   targtype1_txt    181691 non-null  object
 9   gname            181691 non-null  object
 10  weaptype1_txt    181691 non-null  object
 11  nkill            171378 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 16.6+ MB

In [9]:
#Eliminating null values from 'nkill' column and replacing them by median values

terror_df.loc[terror_df['nkill'].isna(), 'nkill'] = terror_df.loc[~terror_df['nkill'].isna(), 'nkill'].median()

In [10]:
#Checking dataframe information again to ensure null values are filled

terror_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 12 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            181691 non-null  int64
 1   imonth           181691 non-null  int64
 2   iday             181691 non-null  int64
 3   country_txt      181691 non-null  object
 4   region_txt       181691 non-null  object
 5   provstate        181270 non-null  object
 6   city             181257 non-null  object
 7   attacktype1_txt  181691 non-null  object
 8   targtype1_txt    181691 non-null  object
 9   gname            181691 non-null  object
 10  weaptype1_txt    181691 non-null  object
 11  nkill            181691 non-null  float64
dtypes: float64(1), int64(3), object(8)
memory usage: 16.6+ MB

In [11]:
terror_df.describe()

               iyear         imonth           iday          nkill
count  181691.000000  181691.000000  181691.000000  181691.000000
mean     2002.638997       6.467277      15.505644       2.266860
std        13.259430       3.388303       8.814045      11.227057
min      1970.000000       0.000000       0.000000       0.000000
25%      1991.000000       4.000000       8.000000       0.000000
50%      2009.000000       6.000000      15.000000       0.000000
75%      2014.000000       9.000000      23.000000       2.000000
max      2017.000000      12.000000      31.000000    1570.000000

In [12]:
#Saving CSV in system for creating better visuals with Tableau

terror_df.to_excel("/content/drive/MyDrive/AlmaBetter/Capstone Project - EDA/terror.xlsx")